@import "materialize.scss";

.navbar-logo {
  height: 44px;
  margin-top: 6px;

  @media only screen and (min-width: 601px) {
    height: 48px;
    margin-top: 6px;
  }
}

div.featured-production {
  div.card-image {
    span.card-title {
      width: 100%;
      background-color: rgba(0,0,0,.5);
    }
  }
  div.card-action {
    a {
      @extend .red-text, .text-darken-4;

      i {
        font-size: 20px;
        vertical-align: middle !important;
      }
    }
  }
}

.parallax-container {
  width: 100%;
}

.parallax-content {
  padding: 25px;
  background-color: rgba(0,0,0,.6);

  h1 {
    margin: 0;
  }
}

.footer-logo {
  width: 100%;
  max-width: 200px;
  margin: 25px 0px;
}

footer {
  div.connect {
    a {
      @extend .grey-text, .text-darken-2;
      margin-right: 5px;
    }
  }
}
