@import "materialize.scss";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container.section {
  flex: 1;
}

.navbar-logo {
  height: 44px;
  margin-top: 6px;

  @media only screen and (min-width: 601px) {
    height: 48px;
    margin-top: 6px;
  }
}

.pagination {
  li.active {
    @extend .red, .darken-4;
  }
  li a {
    @extend .grey-text, .text-lighten-2;
  }
  li.disabled a {
    @extend .grey-text, .text-darken-3;
  }
}

div.featured-production {
  div.card-image {
    span.card-title {
      @extend .flow-text;
      width: 100%;
      background-color: rgba(0,0,0,.5);
    }
  }
  div.card-action {
    a {
      @extend .red-text, .text-darken-4;

      i {
        font-size: 20px;
        vertical-align: middle !important;
      }
    }
  }
}

div.production {
  @extend div.featured-production;

  // span.card-title {
  //   font-size: 1.25rem
  // }
}

div.news-update {
  @extend div.featured-production;
}

.parallax-container {
  width: 100%;
}

.parallax-content {
  padding: 25px;
  background-color: rgba(0,0,0,.6);

  h1 {
    margin: 0;
  }
}

.footer-logo {
  width: 100%;
  max-width: 200px;
  margin-top: 25px;
}

footer {
  div.connect {
    a {
      @extend .grey-text, .text-darken-2;
      margin-right: 5px;
    }
  }
}

div.categories {
  ul, li {
    background-color: rgba(0,0,0,0) !important;
    color: white;
    border: none;
  }
  .collection {
    li {
      &:hover {
        background-color: #181818 !important;
        transition: background-color .25s;
      }
    }
    .with-header {
      .collection-header {
        border-bottom: none;
      }
    }
  }
}

.document-collection {
  @extend .collection;

  .title {
    @extend .red-text, .text-darken-4;
    font-size: 16px;
    margin: 0;
  }

  p {
    @extend .grey-text;
    margin: 0;
  }
}

footer.page-footer {
  background-color: #111111;

  .footer-copyright {
      @extend .black;

      a {
        @extend .grey-text, .text-lighten-4;

        padding: 0px 15px;
      }
  }
}
