@import "materialize.scss";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container.section {
  flex: 1;
}

.navbar-logo {
  height: 44px;
  margin-top: 6px;

  @media only screen and (min-width: 601px) {
    height: 48px;
    margin-top: 8px;
  }
}

.pagination {
  li.active {
    @extend .red, .darken-4;
  }
  li a {
    @extend .grey-text, .text-lighten-2;
  }
  li.disabled a {
    @extend .grey-text, .text-darken-3;
  }
}

div.featured-production {
  @extend .hoverable;
  transition: box-shadow .5s;

  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.6), 0 6px 20px 0 rgba(0,0,0,0.5);
  }

  div.card-image {
    span.card-title {
      @extend .flow-text;
      width: 100%;
      background-color: rgba(0,0,0,.5);
    }
  }
  div.card-content {
    p {
      color: black;
    }
  }
  div.card-action {
    @extend .red-text, .text-darken-4;
    display: block;
    i {
      font-size: 20px;
      margin-bottom: -2px;
      vertical-align: middle !important;
    }
    transition: background-color .25s;
    &:hover {
      @extend .grey, .lighten-2;
      transition: background-color .25s;
    }
  }
}

div.production {
  @extend div.featured-production;

  @media only screen and (min-width: 1390px) {
    span.card-title {
      font-size: 1.25rem !important;
    }
  }

  @media only screen and (min-width: 993px) and (max-width: 1040px) {
    span.card-title {
      font-size: 0.9rem !important;
    }
  }

  @media only screen and (min-width: 1040px) and (max-width: 1190px) {
    span.card-title {
      font-size: 1rem !important;
    }
  }

  @media only screen and (min-width: 1190px) and (max-width: 1390px) {
    span.card-title {
      font-size: 1.1rem !important;
    }
  }
}

div.news-update {
  @extend div.featured-production;
}

.parallax-container {
  width: 100%;
}

.parallax-content {
  padding: 25px;
  background-color: rgba(0,0,0,.6);

  h1 {
    margin: 0;
  }
}

.footer-logo {
  width: 100%;
  max-width: 200px;
  margin-top: 25px;
}

footer {
  div.connect {
    a {
      @extend .grey-text, .text-darken-2;
      margin-right: 5px;
    }
  }
}


.collection {
  div.collection-header {
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;

    p {
      padding: 0;
      margin: 0;
      font-weight: bold;
    }
  }

  $class-slug: item-level !default;
  $base-padding: 20px;
  @for $i from 0 through 3 {
    a.#{$class-slug}-#{$i} {
      padding-left: 20px + ($i*15);
    }
  }

  .sub-item {
    padding-left: 35px;
  }

  .sub-sub-item {
    padding-left: 50px;
  }

  a {
    @extend .red-text, .text-darken-4;
  }

  .active {
    @extend .white-text, .red, .darken-4;
  }
}

.document-collection {
  @extend .collection;

  .title {
    @extend .red-text, .text-darken-4;
    font-size: 16px;
    margin: 0;
  }

  p {
    @extend .grey-text;
    margin: 0;
  }
}

footer.page-footer {
  background-color: #111111;

  .footer-copyright {
    @extend .black;

    a {
      @extend .grey-text, .text-lighten-4;

      padding: 0px 15px;
    }
  }
}

.officer-image {
  overflow: hidden;
  max-height: 231px;
}

.member-image {
  overflow: hidden;
  max-height: 170px;
}
