<footer class="page-footer">
  <div class="container grey-text text-lighten-4">
    <div class="row">
      <div class="col s6 m6 l2">
        <img src="resources/img/rpitv_logo.min.svg" class="footer-logo">
      </div>
      <div class="col s6 m6 l2">
        <p>
          <strong>RPI TV</strong><br>
          Rensselaer Union<br>
          110 8th Street<br>
          Troy, NY 12180<br>
          <a class="red-text text-darken-4" href="mailto:rpitv@union.rpi.edu">rpitv@union.rpi.edu</a>
        </p>
      </div>
      <div class="col s12 m6 offset-l1 l4">
        <h5>Join RPI TV</h5>
        <p>
          Joining RPI TV is free and fun! You can bring an original production
          from design to completion. Learn how to use a camera, edit, and
          publicize!
        </p>
        <p>
          <a href="/about" class="red-text text-darken-4">Learn More</a>
        </p>
      </div>
      <div class="col s12 m6 offset-l1 l2 connect">
        <h5>Connect</h5>
        <a href="https://twitter.com/rpitv"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://facebook.com/rpitv"><i class="fa fa-facebook-official fa-2x"></i></a>
        <a href="https://reddit.com/u/rpi-tv"><i class="fa fa-reddit-alien fa-2x"></i></a>
        <a href="https://github.com/rpitv"><i class="fa fa-github fa-2x"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        All content &copy; 2003&ndash;2016 RPI TV. All rights reserved.
        <div class="right">
          <a class="footer-link waves-effect waves-light" href="#!">Feeds</a>
          <a class="footer-link waves-effect waves-light" href="#!">APIs</a>
          <a class="footer-link waves-effect waves-light" href="#!">Sitemap</a>
        </div>
      </div>
    </div>
  </div>
</footer>
