<footer class="section black">
  <div class="container white-text">
  	<div class="row">
      <div class="col s12 m4">
        <img src="http://129.161.139.175/rpitv-drupal/mockups/resources/img/rpitv_logo.min.svg" class="footer-logo">
        <p>
          <strong>RPI TV</strong><br>
          Rensselaer Union<br>
          110 8th Street<br>
          Troy, NY 12180<br>
          <a class="red-text text-darken-4" href="mailto:rpitv@union.rpi.edu">rpitv@union.rpi.edu</a>
        </p>
      </div>
      <div class="col s12 m4">
        <h5 class="white-text">Join RPI TV</h5>
        <p>
          Joining RPI TV is free and fun! You can bring an original production
          from design to completion. Learn how to use a camera, edit, and
          publicize!
        </p>
        <p>
          <a href="/about" class="red-text text-darken-4">Learn More</a>
        </p>
      </div>
      <div class="col s12 m4 connect">
        <h5 class="white-text">Connect</h5>
        <a href="https://twitter.com/rpitv"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://facebook.com/rpitv"><i class="fa fa-facebook-official fa-2x"></i></a>
        <a href="https://reddit.com/u/rpi-tv"><i class="fa fa-reddit-alien fa-2x"></i></a>
        <a href="https://github.com/rpitv"><i class="fa fa-github fa-2x"></i></a>
      </div>
    </div>
  </div>
</footer>
